body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}
.player {
    text-align: center;
    background: #333;
    border-radius: 10px;
}
.controls button{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    
}
